@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.bg-color{
    background-color: #F5F8FF;
}
/* header section */
header {
    padding-top: 30px;
    padding-bottom: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav>ul {
    display: flex;
    align-items: center;
    gap: 48px;
    font-family: Inter;
}

nav>ul>li {
    list-style: none;

}

.home {
    font-weight: 700;

}

.color {
    color: #8987A1;
}


.icon {
    display: flex;
    align-items: center;
    gap: 15px;
}
/* sectioin 1 */

.first-section {
    padding-top: 100px;
    margin-bottom: 50px;
}
.banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner-text h1 {
    font-size: 64px;
    font-weight: 700;
    font-family: Noto serif;
}

.banner-text span {
    color: #E95A08;
}

.banner-text p {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Inter';
    font-size: 22px;
    margin-top: 15px;
}
/* section 2 */
.second-section {
    margin-top: 80px;margin-bottom: 60px;}
.plant h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: Noto serif;
    margin-bottom: 16px;
}
.plant span{
    color: #E95A08;
}



.plant p {
    color: #00000080;
    font-family: 'Inter';
    text-align: center;
    font-size: 22px;
    margin-bottom: 49px;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4, 256px);
    gap: 20px;
}

.single-card img{
    width: 100%;
}
.single-card h3 {
    text-align: center;
    font-size: 22px;
    font-family: 'Inter';
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
}

.single-card h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: Inter;
     text-align: center;
}

.single-card button {
    width: 256px;
   
    padding: 16px 0;
    background-color:  #e95a08;
    border: none;
    color: white;
    font-weight: 600;
    font-family: 'Inter';
    cursor: pointer;
    font-size: 18px;
    word-spacing: 7px;
}
.single-card button:hover{
    background-color: black;
    color: red;
    transition: 0.5s;
}
/* section3 */
.third-section{
    margin-top: 170px;
    margin-bottom: 80px;
}

.flower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 87px;
}

.flower img {
    width: 540px;
    height: 597px;
}

.flower-img {
    width: 50%;
}

.flower-text {
    width: 50%;
}

.flower-text h1 {
    font-size: 50px;
    font-family: 'Noto Serif';
    margin-bottom: 20px;
    margin-top: 30px;
}

.flower-text li {
    font-family: 'Inter';
    font-size: 22px;
    color: #00000080;
    margin-bottom: 32px;
}
.trusted{
    position: relative;
}
.trusted img {
    position: absolute;
    width: 286px;
    left: 33%;
    top: -128px;
    
}
.last-deal h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: Noto serif;
    margin-bottom: 16px;
    color: black;
} 
.last-deal span{
    color: #E95A08;
}
.last-deal {
      color: #00000080;
    font-family: 'Inter';
    text-align: center;
    font-size: 22px;
    margin-bottom: 49px;
}
.flex{
    display: flex;
    gap: 25px;
    margin-top: 80px;
}
.flex img{
    width: 100%;
}
.flex-l{
    width: 30%;
}
.common-flex,a {
    display: flex ;
    justify-content:center ;
    align-items: center;
    color: white;
    flex-direction: column;
    gap: 15px;
}
.left-one{
     background-image: url(./img/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: Noto Serif;
    
    
}
.left-two{
   
      background-image: url(./img/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
    height: 250px;
     border-radius: 15px;
      font-size: 20px;
    font-weight: 700;
    font-family: Noto Serif;

}
.flex-r{
    background-image: url(./img/deal-zabo.png);
    width: 70%;
    
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
    height: 520px;
     border-radius: 15px;
      font-size: 40px;
    font-weight: 700;
    font-family: Noto Serif;
    
}
/* last section */
.last-section{
    background-image: url(./img/news-letter-bg.png);
      background-repeat: no-repeat;
    background-size: cover;
     height: 533px;
    background-position: center;
}
.join{
    display: flex;
    justify-content: center;
    align-items: center;
      height: 533px;
      padding-top: 70px;

}
.join h2 {
    font-size: 50px;
    color: white;
    font-family: 'Noto Serif';
    margin-bottom: 23px;
     text-align: center;
}
input {
    padding: 15px 20px;
    width: 644px;
    border: none;
    font-family: 'Inter';
  
}

.join button {
    padding: 15px 50px;
    background-color:  #E95A08;
    border: none;
    font-family: 'Inter';
    color: white;
    
     
}